@inherits LayoutComponentBase

<RadzenComponents/>

<div class="page">
    <RadzenHeader>
        <RadzenHeading Size="H2" Text="Pomodoro Timer" Style="color:white; margin-left:10px; margin-top:10px" />
    </RadzenHeader>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
